.main-content-contianer {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.content {
    flex: 1;
    padding: 10px 15px;
}

.side-content {
    width: 300px;
    border-right: 1px solid var(--black);
}